<div class="message">
	
	<%= image_tag message.user.avatar.url(:thumb) %>
	<%= message.user.firstName %>
	<%= message.user.lastName %>
	<%= message.created_at.strftime("%B %d at %I:%M %p") %>:
	<b><%= message.content %></b>
	
</div>