<div class="card">
<center>
<div class="profilepage" ><%= image_tag @user.avatar.url(:medium), class: "img-fluid" %></div>
</center>
Followers
<p><%=@user.followers.count%></p>
<%=render "follow_button"%>
<h1><%=@user.username%> </h1>
<h4><%=full_name%></h4>
<h4><%=@user.location%> </h4>
<p> <%=@user.aboutMe%> </p>

<div class="events">
<% if @user.id == current_user.id %>
  <% if @user.events.exists? %>
    <div>YOUR EVENTS:</div>
    <% @user.events.each do |e| %>
      <div>
        <a href="/events/<%= e.id %>"><%= e.performer %></a>
      </div>
    <% end %>
  <% end %>
      <% if @user.matches.exists? %>
      <div>YOUR MATCHES:</div>
      <% @user.matches.each do |m| %>
      <div>
        <%= Event.find(m.event_id).performer %>
        <a class="btn btn-info" href="/events/<%= m.event_id %>"> View Event </a>
      </div>
      <div>
        <a class="btn btn-danger" href="/matches/<%= m.id %>/edit">Delete Match</a>
      </div>
    <% end %>
  <% end %>
<% else %>
<% if @user.events.exists? %>
  <div>events:</div>
  <% @user.events.each do |e| %>
    <div>

      <a href="/events/<%= e.id %>"><%= e.performer %></a>
    </div>
  <% end %>
<% end %>

    <% if @user.matches.exists? %>
    <div>matches:</div>
    <% @user.matches.each do |m| %>
    <div>
      <%= Event.find(m.event_id).performer %>
      <a href="/events/<%= m.event_id %>"> View Event </a>
    </div>
  <% end %>
<% end %>
<% end %>
</div>
</div>
