<!DOCTYPE html>
<html>
  <head>
    <title>MusicMatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script type='text/javascript' src='config.js'></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Events', events_path, class:'' %>
    <% if user_signed_in? %>
      |
      <%= link_to 'Create Event', new_event_path, class:'' %>
      |
      <%= link_to'Logout', destroy_user_session_path, method: :delete, class:"" %>
      |
      <%= link_to 'Edit', edit_user_registration_path %>
      |
      <%= link_to 'Chat', rooms_show_path %>

      <div class="currentUserNavbar">
      <a href="/users/<%=current_user.id%>"><%= image_tag(current_user.avatar.url(:thumb))%> </a>
      </div>

    <% else %>
      |
      <%= link_to "Sign Up", new_user_registration_path, class:"" %>
      |
      <%= link_to "Log In", new_user_session_path, class:"" %>
      <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
